<div style="font-family: sans-serif;">
    <h2>Hello</h2>
    <p style="color: blue;">
        click on the link to verify your email

        <a href="<%= link%>">
            <%= link %>
        </a>

    </p>
</div>